
version: '2.1'

orbs:
  android: circleci/android@2.5
  bats: circleci/bats@1.0.0

jobs:
  unit_test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - android/restore-gradle-cache
      - android/run-tests:
          test-command: ./gradlew testDebug
      - android/save-gradle-cache
  android_test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - android/start-emulator-and-run-tests:
          system-image: system-images;android-30;google_apis;x86
  smoke_test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - bats/install
      - run:
          name: What's the BATS?
          command: |
            which bats
            bats --version
      - run:
          name: "Start Collector"
          command: |
            make clean-smoke-tests
            make smoke-docker
      - android/start-emulator-and-run-tests:
          system-image: system-images;android-30;google_apis;x86
          test_command: ./gradlew :example:pixel8api35debugAndroidTest --rerun
      - run:
          name: "Run Smoke Tests"
          command: make smoke-bats
  release_build:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - android/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Assemble release build
          command: ./gradlew assembleRelease
      - store_artifacts:
          path: core/build/outputs/aar
  publish_maven:
    executor:
      name: android/android-machine
      resource-class: large
      tag: default
    steps:
      - checkout
      - run:
          name: "Publish Artifacts to Maven"
          command: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository

filters_main_only: &filters_main_only
  filters:
    tags:
      only: /.*/
    branches:
      only: main

filters_tags_only: &filters_tags_only
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

filters_always: &filters_always
  filters:
    tags:
      only: /.*/

workflows:
  build:
    jobs:
      - unit_test:
          <<: *filters_always
      - android_test:
          <<: *filters_always
      - smoke_test:
          <<: *filters_always
      - publish_maven:
          <<: *filters_tags_only
          context:
            - java_beeline
          requires:
            - unit_test
            - android_test
            - smoke_test
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - unit_test
      - android_test
      - smoke_test
